html, body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    background-color: #ECFDF5;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 50px;
  
}

.description {
    
    margin-top: 50px;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
}

header h1 {
    font-weight: 800;
    font-size: 60px;
    font-style: normal;
    margin: 0;
}
.random-text {
    display: block;
    color: green;
}

header p {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #6B7280;
    margin: 0;
}

.generator {
    margin: 50px 0 ;
    display: flex;
}

#password-length{
    margin-right: 20px;
    width: 250px;
    padding: 20px 35px;
    border: 3px solid green;
    border-radius: 5px;
    outline: none;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

#generate-password {
    padding: 15px 25px;
    background-color: #1a672c;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}



#generate-password:hover, :active {
    background-color: #2cbb4d;
    color: #fff;
}
.description hr {
    margin-bottom: 0;
}
.password-displayer {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-basis: 50%; */
    /* padding: 5px; */
}
.displayer {
    margin: 15px 0;
    height: 50px;
    width: 45%;
    background: #273549;
    color: white;
    border-radius: 6px;
    outline: none;
    border: none;
    text-align: center;
}

hr {
   border:  2px solid green;
   margin-bottom: 3em;
}

@media only screen and (max-width: 1000px){
    header {
        text-align: center;
    }

    .generator {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    #password-length {
        align-self: center;
        margin: 40px 0 ;
    }

    #generate-password{
        align-self: center;
        }

    .password-displayer{
        flex-direction: column;
        justify-content: center;
        flex-basis: auto;
    }
    .displayer {
        align-self: center;
        width: 90%;
        height: 100px;
        margin-bottom: 3em;
        font-size: 30px;
    }
}